:root { font-family: 'Inter', serif; }



h1{
    margin-left: 10px;
    font-weight: 800;
}
.main__container{
    display: block;
}

.counter__container{
    display: flex;
    align-items: center;
}


.image__container{
    margin-top: -200px;
    margin-left: 550px;
    width: 250px;
    height: 250px;
}

.image__container img{
    width: 250px;
    height: 250px;
}



.main__button button{
    border-radius: 16px;
    border: none;
    width: 100px;
    height: 45px;
    margin-top: 20px;
}


.input__container{
    margin-top: 25px;
}

.input__container input{
    width: 200px;
    height: 20px;
    outline: none;
} 


.buttons{
    margin-top: 20px;
}

.buttons button{
    border-radius: 16px;
    border: none;
    width: 100px;
    height: 45px;
}



.animated-button {
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

.animated-button:active {
    transform: scale(1.1);
}
